<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.jworks.datahub.client.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.jworks.connector.client.application"
            name="Connector">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="&amp;File">
            <menu
                  label="New">
               <dynamic
                     class="de.jworks.datahub.transform.actions.NewWizardsShortlist"
                     id="newWizardsShortlist">
               </dynamic>
            </menu>
            <command
                  commandId="de.jworks.fps.transform.open">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll">
            </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print">
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export">
            </command>
            <separator
                  name="separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit">
            </command>
         </menu>
         <menu
               label="&amp;Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste">
            </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll">
            </command>
         </menu>
         <menu
               label="&amp;Window">
            <menu
                  label="&amp;Open Perspective">
               <dynamic
                     class="de.jworks.datahub.transform.actions.PerspectivesShortlist"
                     id="openPerspectives">
               </dynamic>
            </menu>
            <menu
                  label="Show &amp;View">
               <dynamic
                     class="de.jworks.datahub.transform.actions.ViewsShortlist"
                     id="viewsShortlist">
               </dynamic>
            </menu>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="file">
            <command
                  commandId="org.eclipse.ui.newWizard">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:de.jworks.fps.transform.transformations">
         <command
               commandId="de.jworks.fps.transform.open">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:de.jworks.fps.transform.transformation">
         <command
               commandId="de.jworks.fps.transform.addConstant">
         </command>
         <command
               commandId="de.jworks.fps.transform.addFilter">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.jworks.fps.transform.open"
            name="Open">
      </command>
      <command
            id="de.jworks.fps.transform.addConstant"
            name="Add Constant">
      </command>
      <command
            id="de.jworks.fps.transform.addFilter"
            name="Add Filter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Transformations"
            class="de.jworks.datahub.transform.perspectives.TransformationsPerspective"
            id="de.jworks.fps.transform.transformations">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.jworks.fps.transform.transformations">
         <newWizardShortcut
               id="de.jworks.fps.transform.transformation">
         </newWizardShortcut>
         <viewShortcut
               id="de.jworks.fps.transform.transformations">
         </viewShortcut>
         <view
               id="de.jworks.fps.transform.transformations"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.jworks.datahub.transform.editors.transformation.TransformationEditor"
            id="de.jworks.fps.transform.transformation"
            name="Transformation">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.jworks.datahub.transform.views.TransformationsView"
            id="de.jworks.fps.transform.transformations"
            name="Transformations">
      </view>
      <view
            class="de.jworks.datahub.transform.views.SchemaGeneratorView"
            id="de.jworks.fps.presentation.transform.views.SchemaGeneratorView"
            name="SchemaGenerator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="de.jworks.datahub.transform.wizards.NewTransformationWizard"
            id="de.jworks.fps.transform.transformation"
            name="Transformation">
      </wizard>
   </extension>

</plugin>
