<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>DatasourceService</servlet-name>
    <servlet-class>de.jworks.datahub.business.transform.boundary.DatasourceServiceHessian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DatasinkService</servlet-name>
    <servlet-class>de.jworks.datahub.business.transform.boundary.DatasinkServiceHessian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransformationService</servlet-name>
    <servlet-class>de.jworks.datahub.business.transform.boundary.TransformationServiceHessian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatasourceService</servlet-name>
    <url-pattern>/DatasourceService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatasinkService</servlet-name>
    <url-pattern>/DatasinkService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransformationService</servlet-name>
    <url-pattern>/TransformationService</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <display-name>datahub</display-name>
    <web-resource-collection>
      <web-resource-name>rest</web-resource-name>
      <url-pattern>/rest/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>datahub</realm-name>
  </login-config>
  <security-role>
    <role-name>*</role-name>
  </security-role>
  <persistence-context-ref>
    <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
    <persistence-unit-name>datahub</persistence-unit-name>
  </persistence-context-ref>
</web-app>